.slider-container {
  display: none;
}

.slider-nav {
  display: none !important;
}

@media screen and (min-width: 800px) {
  .slider-container {
    width: 786px;
    height: auto;
    border: 1px solid var(--text);
    overflow-x: hidden;
    position: relative;
    display: block;
  }

  .slider-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    transition: margin 300ms ease-in-out;
  }

  .slider-list li {
    min-width: 786px;
    height: 495px;
    display: flex;
    flex-basis: 700px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .slider-list li img {
    width: auto;
    height: 495px;
    max-width: 786px;
  }

  .slider-container:hover > .exhibition-slider-control {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .slider-container .exhibition-slider-control {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
    visibility: hidden;
    width: 5%;
  }

  .slider-container .exhibition-slider-control > svg {
    fill: var(--white);
  }

  .slider-container .exhibition-slider-control:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .exhibition-slider-control.left-slider-control {
    top: 0;
    bottom: 0;
    left: 0;
  }

  .exhibition-slider-control.right-slider-control {
    top: 0;
    bottom: 0;
    right: 0;
  }

  .slider-nav {
    display: flex !important;
    gap: 5px !important;
  }

  .slider-nav button {
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .slider-nav button.active {
    color: var(--red);
    font-weight: 600;
    border-color: var(--text);
  }
}
