.header {
  background-color: var(--white);
  padding: 15px 15px 25px;
  border-bottom: 1px solid var(--text);
}

.header h1 {
  margin-top: 0;
}

.header h1 a {
  color: var(--text);
  text-decoration: none;
}

.header nav a {
  padding: 5px 15px 6px;
  border: 2px solid transparent;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
}

.header nav a.active {
  background-color: var(--white);
  border-color: var(--text);
}
