.modal {
  width: 85%;
  height: 500px;
  padding: 2rem;
  border: none;
  position: relative;
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}

button.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  background: none;
  margin: 0 !important;
  border: 2px solid var(--text);
  border-radius: 40px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .modal {
    width: 75%;
  }
}
