.object-card {
  color: var(--white);
  width: 100%;
}

.object-card img {
  max-width: 100%;
}

.object-card.dark {
  color: var(--text);
}

.object-card .actions {
  margin-top: 10px;
}

@media screen and (min-width: 800px) {
  .object-card {
    width: 250px;
  }
}
