.results-wrapper {
  background-color: var(--text);
  padding: 25px;
}

.results-info {
  color: var(--dark-grey);
}

p.error {
  background-color: var(--red);
  color: var(--white);
  padding: 5px 10px;
  margin-bottom: 15px;
}

p.warning {
  background-color: var(--warm-yellow);
  color: var(--text);
  padding: 5px 10px;
}

p.message {
  color: var(--white);
  text-align: center;
  margin: 20px 0;
}
